mixin address

  address.address&attributes(attributes)
    block

mixin blockquote

  blockquote.blockquote&attributes(attributes)
    block

mixin body

  body.body&attributes(attributes)
    block

mixin button

  button.button&attributes(attributes)
    block

mixin cite

  cite.cite&attributes(attributes)
    block

mixin dl

  dl.dl&attributes(attributes)
    block

mixin dd

  dd.dd&attributes(attributes)
    block

mixin dt

  dt.dt&attributes(attributes)
    block

mixin em

  em.em&attributes(attributes)
    block

mixin fieldset

  fieldset.fieldset&attributes(attributes)
    block

mixin figure

  figure.figure&attributes(attributes)
    block

mixin h1

  h1.h1&attributes(attributes)
    block

mixin h2

  h2.h2&attributes(attributes)
    block

mixin h3

  h3.h3&attributes(attributes)
    block

mixin h4

  h4.h4&attributes(attributes)
    block

mixin h5

  h5.h5&attributes(attributes)
    block

mixin h6

  h6.h6&attributes(attributes)
    block

mixin hr

  hr.hr&attributes(attributes)
  //- block

mixin html

  html.html&attributes(attributes)
    block

mixin i

  i.i&attributes(attributes)
    block

mixin iframe

  iframe.iframe&attributes(attributes)
    block

mixin img

  img.img&attributes(attributes)
  //- block

mixin input

  input.input&attributes(attributes)
  //- block

mixin label

  label.label&attributes(attributes)
    block

mixin li

  li.li&attributes(attributes)
    block

mixin ol

  ol.ol&attributes(attributes)
    block

mixin ul

  ul.ul&attributes(attributes)
    block

mixin p

  p.p&attributes(attributes)
    block

mixin pre

  pre.pre&attributes(attributes)
    block

mixin select

  select.select&attributes(attributes)
    block

mixin table

  table.table&attributes(attributes)
    block

mixin tbody

  tbody.tbody&attributes(attributes)
    block

mixin thead

  thead.thead&attributes(attributes)
    block

mixin tfoot

  tfoot.tfoot&attributes(attributes)
    block

mixin td

  td.td&attributes(attributes)
    block

mixin th

  th.th&attributes(attributes)
    block

mixin tr

  tr.tr&attributes(attributes)
    block

mixin textarea

  textarea.textarea&attributes(attributes)
    block
