include /helper/nondestructive-reset
- var normalizeCss = "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"

doctype
+html
  head
    meta(charset="utf-8")
    title Non-destructive Reset CSS Test
    link(rel="stylesheet" href="#{normalizeCss}")
    link(rel="stylesheet" href="../nondestructive-reset.css")
    style.
      body {
        background-color: gray;
      }
      .before,
      .after {
        margin: 20px 0;
        width: 47%;
        background-color: white;
      }
      .before {
        float: left;
        margin-right: 1%;
        margin-left: 2%;
      }
      .after {
        float: right;
        margin-right: 2%;
        margin-left: 1%;
      }
  +body

    .before
      h1 h1
      h2 h2
      h3 h3
      h4 h4
      h5 h5
      h6 h6
    .after
      +h1 h1.h1
      +h2 h2.h2
      +h3 h3.h3
      +h4 h4.h4
      +h5 h5.h5
      +h6 h6.h6

    +hr

    .before
      p p
    .after
      +p p.p

    +hr

    .before
      em em
    .after
      +em em.em

    +hr

    .before
      i i
    .after
      +i i.i

    +hr

    .before
      cite cite
    .after
      +cite cite.cite

    +hr

    .before
      ol
        li ol
        li li
    .after
      +ol
        +li ol.ol
        +li li.li

    +hr

    .before
      ul
        li ul
        li li
    .after
      +ul
        +li ul.ul
        +li li.li

    +hr

    .before
      dl
        dt dt
        dd dd
    .after
      +dl
        dt dl.dl
        +dd dd.dd

    +hr

    .before
      blockquote blockquote
    .after
      +blockquote blockquote.blockquote

    +hr

    .before
      pre pre
    .after
      +pre pre.pre

    +hr

    .before
      table
        tr
          th
            | th
            br
            | th
          td td
        tr
          th th
          td
            | td
            br
            | td
    .after
      +table
        +tr
          +th
            | th.th
            br
            | th.th
          +td td.td
        +tr
          +th th.th
          +td
            | td.td
            br
            | td.td

    +hr

    .before
      input(value="input")
      input(value="input")
    .after
      +input(value="input.input")
      +input(value="input.input")

    +hr

    .before
      textarea textarea
    .after
      +textarea textarea.textarea

    +hr

    .before
      select
        option select
        option option
        option option
      select
        option select
        option option
        option option
    .after
      +select
        option select.select
        option option
        option option
      +select
        option select.select
        option option
        option option

    +hr

    .before
      button button
      button button
    .after
      +button button.button
      +button button.button

    +hr

    .before
      label label
    .after
      +label label.label

    +hr

    .before
      address address
    .after
      +address address.address

    +hr
  
    .before
      fieldset
        legend fieldset
    .after
      +fieldset
        legend fieldset.fieldset

    +hr

    .before
      iframe(src="http://example.com")
    .after
      +iframe(src="http://example.com")

    +hr

    script(src="//localhost:35729/livereload.js")
