doctype
html.html
  head
    meta(charset="utf-8")
    title title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css")
    link(rel="stylesheet" href="../nondestructive-reset.css")
  body.body
    h1.h1 h1.h1
    h2.h2 h2.h2
    h3.h3 h3.h3
    h4.h4 h4.h4
    h5.h5 h5.h5
    h6.h6 h6.h6
    p.p p.p
    p.p
      a.a(href="") a.a
    p.p
      cite.cite cite.cite
    ol.ol
      li.li ol.ol
      li.li li.li
    ul.ul
      li.li ul.ul
      li.li li.li
    blockquote.blockquote blockquote.blockquote
    pre.pre pre.pre
    pre.pre
      code.code code.code
    table.table
      tr.tr
        th.th
          | th.th
          br
          | th.th
        td.td td.td
      tr.tr
        th.th th.th
        td.td
          | td.td
          br
          | td.td
    div
      input.input(value="input.input")
      input.input(value="input.input")
    textarea.textarea textarea.textarea
    div
      button.button button.button
    div
      label.label label.label
    address.address address.address
    hr.hr
    h1 h1
    h2 h2
    h3 h3
    h4 h4
    h5 h5
    h6 h6
    p p
    p
      a(href="") a
    p
      cite cite
    ol
      li ol
      li li
    ul
      li ul
      li li
    blockquote blockquote
    pre pre
    pre
      code code
    table
      tr
        th
          | th
          br
          | th
        td td
      tr
        th th
        td
          | td
          br
          | td
    div
      input(value="input")
      input(value="input")
    textarea textarea
    div
      button button
    div
      label label
    address address
    hr
