/* nondestructive-reset.css v1.0.0 | MIT License | github.com/BYODKM */
.html {
  height: 100%;
  font-size: 10px;
}
.body {
  min-width: 320px;
  min-height: 100%;
  font-size: 1.6rem;
  line-height: 1.25;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
.a {
  color: #00f;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.address {
  margin: 0;
  font-style: normal;
}
.blockquote {
  margin: 0;
}
.button {
  color: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid;
  border-radius: 4px;
  background: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.button:hover,
.button:focus,
.button:active {
  outline: none;
}
.cite {
  font-style: normal;
}
.code {
  white-space: nowrap;
}
pre .code {
  white-space: pre;
}
.dl {
  margin: 0;
}
.dd {
  margin: 0;
}
.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.figure {
  margin: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
}
.hr {
  margin: 0;
  overflow: hidden;
  border: 0;
  border-top: 1px solid;
}
.iframe {
  display: block;
  overflow: hidden;
  border: 0;
}
.img {
  vertical-align: bottom;
}
.input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 1px solid;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.input:focus {
  outline: none;
}
.label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.li {
  display: block;
  list-style: none;
}
.ol,
.ul {
  margin: 0;
  padding: 0;
}
.p {
  margin: 0;
}
.pre {
  margin: 0;
  word-wrap: normal;
}
.select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.select:focus {
  outline: none;
}
.table {
  margin: 0;
  width: 100%;
}
.tbody,
.thead,
.tfoot {
  vertical-align: inherit;
}
.td,
.th {
  vertical-align: top;
}
.th {
  font-weight: normal;
  text-align: left;
}
.textarea {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid;
  resize: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.textarea:focus {
  outline: none;
}
