/* nondestructive-reset.css v1.5.1 | MIT License | github.com/BYODKM */
.html {
  height: 100%;
}
.body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.address {
  margin: 0;
  font-style: normal;
}
.blockquote {
  margin: 0;
}
.button {
  -webkit-box-sizing: border-box;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid;
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  background: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.button:hover,
.button:focus,
.button:active {
  outline: none;
}
.cite {
  font-style: normal;
}
.dd {
  margin: 0;
}
.dl {
  margin: 0;
}
.em {
  font-style: normal;
}
.fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid;
}
.figure {
  margin: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
}
.hr {
  clear: both;
  margin: 0;
  border: 0;
  border-top: 1px solid;
}
.i {
  font-style: normal;
}
.iframe {
  border: 0;
  overflow: hidden;
  vertical-align: top;
}
.img {
  max-width: 100%;
  vertical-align: bottom;
}
.input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 10em;
  border: 1px solid;
  border-radius: 0;
  font-family: sans-serif;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.input:focus {
  outline: none;
}
.input::-moz-placeholder {
  opacity: 1;
}
.label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.li {
  display: block;
  list-style: none;
}
.ol,
.ul {
  margin: 0;
  padding: 0;
}
.p {
  margin: 0;
}
.pre {
  margin: 0;
  word-wrap: normal;
}
.select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
  background: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.select:focus {
  outline: none;
}
.table {
  margin: 0;
  width: 100%;
}
.tbody,
.thead,
.tfoot {
  vertical-align: inherit;
}
.td,
.th {
  vertical-align: top;
}
.th {
  font-weight: normal;
  text-align: left;
}
.textarea {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  border: 1px solid;
  border-radius: 0;
  resize: vertical;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.textarea:focus {
  outline: none;
}
