/*! nondestructive-reset.css v1.3.2 | MIT License | github.com/BYODKM */

// 1. Correct issue of vertical gradient image on body
// 2. Correct issue of overflow-x hidden not working in Safari Mac
// 3. Match font rendering with browsers

.html
  height 100% // 1
  overflow-x hidden // 2

.body
  min-height 100% // 1
  overflow-x visible // 2
  line-height 1.25
  word-wrap break-word
  -webkit-font-smoothing antialiased // 3
  -moz-osx-font-smoothing grayscale // 3

.address
  margin 0
  font-style normal

.blockquote
  margin 0

.button
  -webkit-box-sizing border-box
  box-sizing border-box
  padding 0
  border 1px solid
  border-radius 4px
  color inherit
  vertical-align middle
  background none
  -webkit-appearance none
  -webkit-font-smoothing antialiased // 3
  -webkit-user-select none
  -moz-user-select none
  user-select none

  &:hover
  &:focus
  &:active
    outline none

.cite
  font-style normal

.dd
  margin 0

.dl
  margin 0

.em
  font-style normal

.fieldset
  margin 0
  padding 0
  border 1px solid

.figure
  margin 0

.h1
.h2
.h3
.h4
.h5
.h6
  margin 0
  font-size 1em
  font-weight inherit

.hr
  clear both
  margin 0
  border 0
  border-top 1px solid

.i
  font-style normal

.iframe
  border 0
  overflow hidden
  vertical-align top

.img
  vertical-align bottom

.input:not([type="checkbox"]):not([type="radio"]):not([type="range"])
  -webkit-box-sizing border-box
  box-sizing border-box
  padding 0
  width 10em
  border 1px solid
  border-radius 0
  font-family sans-serif
  vertical-align middle
  -webkit-appearance none
  -webkit-font-smoothing antialiased // 3

  &:focus
    outline none

.label
  cursor pointer
  -webkit-user-select none
  -moz-user-select none
  user-select none

.li
  display block
  list-style none

.ol
.ul
  margin 0
  padding 0

.p
  margin 0

.pre
  margin 0
  word-wrap normal

.select
  -webkit-box-sizing border-box
  box-sizing border-box
  padding 0
  border 1px solid
  border-radius 4px
  vertical-align middle
  cursor pointer
  background none
  -webkit-appearance none
  -webkit-font-smoothing antialiased // 3

  &:focus
    outline none

.table
  margin 0
  width 100%

.tbody
.thead
.tfoot
  vertical-align inherit

.td
.th
  vertical-align top

.th
  font-weight normal
  text-align left

.textarea
  display block
  -webkit-box-sizing border-box
  box-sizing border-box
  padding 0
  width 100%
  border 1px solid
  border-radius 0
  resize vertical
  -webkit-appearance none
  -webkit-font-smoothing antialiased // 3

  &:focus
    outline none
